node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
catalogo/DISEÑO NUEVO MUNDO/DISEÑO TORITO 3D/1.bmp
catalogo/DISEÑO NUEVO MUNDO/DISEÑO TORITO 3D/CLIP 1.mp4
catalogo/DISEÑO NUEVO MUNDO/DISEÑO TORITO 3D/CLIP 1 (1).mp4
